.organization-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.org-logo {
	border-radius: 500px;
	border: 1px solid black;
	height: 300px;
	margin-bottom: 20px;
}

@media screen and (max-width: 1299px) {
	.organization-container {
		margin-bottom: 20px;
	}
}